:root {
    --paper: #09090c;
    --body: #e1e1e1;

    --primary-light: #61616b;
    --primary-mid: #51515a;
    --primary-dark: #151518;

    --secondary-light: #f14c62;
    --secondary-mid: #ca1841;
    --secondary-dark: #961c39;

    --shadow: #00000027;
}

body {
    background: var(--paper);
    color: var(--body);
    font-size: 16px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    margin: 0.6rem 0.4rem;
}

p {
    font-size: 17px;
    margin: 8px 0;
}